@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #FFFFFF;
  --font-poppins: 'Poppins', sans-serif;
}



body {
	background: var(--background);
	color: var(--foreground);
  font-family: var(--font-poppins);
}


/* Animation for opening the main video (X-axis rotation) */
@keyframes rotateOpen {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

/* Animation for closing the video (X-axis rotation) */
@keyframes rotateClose {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}



/* Animate between white, black, and blue */
@keyframes colorCycle {
  0% { background-color: white; color: black; }
  33% { background-color: black; color: white; }
  66% { background-color: #007BFF; color: white; }
  100% { background-color: white; color: black; }
}

.color-cycle {
  animation: colorCycle 3s infinite;
}


@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  animation: scrollX 25s linear infinite;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}


#map {
  width: 100%;
  height: 100%;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Default (desktop) */
.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}

/* Slower animation on small screens */
@media (max-width: 768px) {
  .animate-scroll-left {
    animation: scroll-left 60s linear infinite;
  }

  .animate-scroll-right {
    animation: scroll-right 60s linear infinite;
  }
}

