@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


:root {
  --background: #FFFFFF;
  --foreground: #FFFFFF;
}



body {
	background: var(--background);
	color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}


@keyframes floatAndScale {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-8px) scale(1.03);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-float-scale {
  animation: floatAndScale 2s ease-in-out infinite;
}


/* Animation for opening the main video (X-axis rotation) */
@keyframes rotateOpen {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

/* Animation for closing the video (X-axis rotation) */
@keyframes rotateClose {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}



/* Animate between white, black, and blue */
@keyframes colorCycle {
  0% { background-color: white; color: black; }
  33% { background-color: black; color: white; }
  66% { background-color: #007BFF; color: white; }
  100% { background-color: white; color: black; }
}

.color-cycle {
  animation: colorCycle 3s infinite;
}


@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  animation: scrollX 25s linear infinite;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}


#map {
  width: 100%;
  height: 100%;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Default (desktop) */
.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}

/* Slower animation on small screens */
@media (max-width: 768px) {
  .animate-scroll-left {
    animation: scroll-left 60s linear infinite;
  }

  .animate-scroll-right {
    animation: scroll-right 60s linear infinite;
  }
}


/* Hide scrollbars completely */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

